/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/

*{
    font-family: 'Helvetica', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.gray-color{
    color: #E7E7E7;
}

a{
    text-decoration: none;
}

.main-flex{
    display: flex;
}

.brand{
    color: gray;
}

.price{
    color: red;
}

.sale{
    text-decoration: line-through;
    color: gray;
}

.back-green{
    background-color: green;
}

.back-red{
    background-color: red;
}

.white-color{
    color: white;
}

/* 
    header 
*/

ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.orange-nav{
    background-color: #F66904;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar > *{
    width: calc(100% / 3); 
}

.logo{
    width: 100%;
}

.logo-container{
    width: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons{
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons > *{
    padding-left: 10px;
}

/* 
    main 
*/

/* .row-1{
    width: calc(100% / 3);
} */

.card{
    width: calc(100% / 3);
    margin-top: 50px;
}

img{
    width: 100%;
}

.img-box{
    position: relative;
}

.heart{
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 5px;
}

.sustenibility{
    position: absolute;
    left: 50px;
    bottom: 40px;
    padding: 5px;
}